.vs/

*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
*.userprefs

bin/
obj/

packages/
*.nupkg

.vscode/
ReSharper*/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
.nupkg
Generated_Code/
_
UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
